---
import { getSiteInfo, type Site } from '../data/site'

export interface Props extends Partial<Site> {}

const site = await getSiteInfo()

const { title, description } = Astro.props
---

{/* basic metadata */}
<title>{title ? `${title} | ${site.title}` : site.title}</title>
<meta name='description' content={description || site.description} />
<link rel='canonical' href={Astro.url} />

{/* icons */}
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
