---
import Layout from '~/layouts/layout.astro'
import { getPost } from '~/data/posts'
import { Image } from 'astro:assets'

const CONTENT_ENDPOINT = process.env.CONTENT_ENDPOINT

const post = await getPost({ id: Astro.params.id! })
if (!post) return Astro.redirect('/404')

export const prerender = false
---

<Layout title={post.title!}>
  <main>
    <article>
      <h1>{post.title}</h1>
      <figure>
        {
          post.featuredImage && post.featuredImage.node.sourceUrl && (
            <Fragment>
              <Image
                src={`${CONTENT_ENDPOINT}${new URL(post.featuredImage.node.sourceUrl).pathname}`}
                loading='eager'
                inferSize
                alt=''
              />
              <figcaption set:html={post.featuredImage.node.caption} />
            </Fragment>
          )
        }
      </figure>

      <Fragment set:html={post.content} />
    </article>
  </main>
</Layout>

<style>
  main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    img {
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }

    figcaption {
      font-size: small;
    }
  }
</style>
