---
import Layout from '~/layouts/layout.astro'
import { getPosts } from '~/data/posts'
import { Image } from 'astro:assets'

const CONTENT_ENDPOINT = process.env.CONTENT_ENDPOINT

const posts = await getPosts({ first: 24 })

export const prerender = false
---

<Layout>
  <main>
    <ul>
      {
        posts.map((post) => (
          <li>
            <article>
              {post.featuredImage && post.featuredImage.node.sourceUrl && (
                <Image
                  class='_image'
                  src={`${CONTENT_ENDPOINT}${new URL(post.featuredImage.node.sourceUrl).pathname}`}
                  width={120}
                  height={80}
                  alt=''
                />
              )}
              <h2>
                <a href={post.uri}>{post.title}</a>
              </h2>
            </article>
          </li>
        ))
      }
    </ul>
  </main></Layout
>

<style>
  main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    display: grid;
    row-gap: 1rem;

    li {
      list-style: none;

      article {
        display: flex;
        column-gap: 0.5rem;

        img {
          object-fit: cover;
          object-position: center;
          width: 120px;
          height: 80px;
        }
      }
    }
  }
</style>
