---
import Layout from '~/layouts/layout.astro'
---

<Layout title='Static'>
  <main>
    <h1>This is a static page.</h1>
  </main>
</Layout>

<style>
  main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
